<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShoppingAPP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthenticateServer</display-name>
    <servlet-name>AuthenticateServer</servlet-name>
    <servlet-class>com.shoppingapp.deloitte.controller.AuthenticateServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateServer</servlet-name>
    <url-pattern>/AuthenticateServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestName</display-name>
    <servlet-name>GuestName</servlet-name>
    <servlet-class>com.GuestName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestName</servlet-name>
    <url-pattern>/GuestName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtherServlet</display-name>
    <servlet-name>OtherServlet</servlet-name>
    <servlet-class>com.OtherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherServlet</servlet-name>
    <url-pattern>/OtherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmProductServlet</display-name>
    <servlet-name>ConfirmProductServlet</servlet-name>
    <servlet-class>com.ConfirmProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmProductServlet</servlet-name>
    <url-pattern>/ConfirmProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
</web-app>